In [4]:
import sqlite3
import csv
import pandas as pd
import numpy as np

sqlite3.register_adapter(np.int64, lambda val: int(val))
sqlite3.register_adapter(np.int32, lambda val: int(val))

In [5]:
def viz_tables(cols, query):
    q = cursor.execute(query).fetchall()
    framelist = dict()
    for i, col_name in enumerate(cols):
        framelist[col_name] = [col[i] for col in q]
    return pd.DataFrame.from_dict(framelist)

In [6]:
db = sqlite3.connect('../raw_data/spotify copy.db')
cursor = db.cursor()

# display(viz_tables(track_cols, query))

In [10]:
q[0][0]

232409

In [11]:
# track_meta_cols = [col[1] for col in cursor.execute("PRAGMA table_info(track_meta)")]
query = '''SELECT DISTINCT PlaylistID FROM track_meta ORDER BY RANDOM() LIMIT 100'''
q_100 = cursor.execute(query).fetchall()

In [13]:
q_100[0][0]

970799

In [15]:
q_100 = [x[0] for x in q_100]

In [16]:
q_100

[970799,
 880034,
 932423,
 146935,
 192029,
 892019,
 132292,
 823195,
 576006,
 576072,
 543275,
 22558,
 632720,
 674150,
 372858,
 316837,
 73912,
 827032,
 778551,
 366739,
 235507,
 944572,
 139137,
 263663,
 973031,
 93823,
 279469,
 749375,
 58173,
 387262,
 82863,
 227426,
 898842,
 103299,
 737936,
 577504,
 68433,
 102420,
 899968,
 877196,
 540970,
 660504,
 557467,
 98089,
 24766,
 541304,
 591428,
 909840,
 676126,
 594458,
 484880,
 84016,
 159081,
 860995,
 903647,
 686737,
 399536,
 551884,
 173121,
 305263,
 834974,
 774974,
 924308,
 71985,
 592888,
 642317,
 476263,
 578712,
 409260,
 3672,
 56736,
 39126,
 740532,
 191071,
 840875,
 303397,
 505604,
 321775,
 310377,
 535286,
 775389,
 507850,
 168389,
 419016,
 96174,
 910292,
 920175,
 866366,
 204276,
 537,
 449333,
 617142,
 431432,
 114617,
 334264,
 468866,
 32654,
 628359,
 319935,
 603640]

In [20]:
query = '''SELECT * FROM track_meta WHERE Playlistid in ({seq})'''.format(seq=','.join(['?']*len(q_100)))
q_100_alldata = cursor.execute(query, q_100).fetchall()

# cursor.execute(query).fetchall()
# q_100 = cursor.execute(query).fetchall()

In [35]:
track_cols = [col[1] for col in cursor.execute("PRAGMA table_info(track_meta)")]

In [22]:
trial = pd.DataFrame(q_100_alldata)

In [37]:
trial.columns = track_cols # rename the columns

In [38]:
trial.columns.values

array(['Playlistid', 'Trackid', 'Artist_Name', 'Track_Name', 'Album_Name',
       'Track_Duration', 'Artist_uri', 'Track_uri', 'Album_uri',
       'acousticness', 'artist_genres', 'artist_popularity',
       'danceability', 'energy', 'explicit', 'instrumentalness', 'key',
       'liveness', 'loudness', 'mode', 'speechiness', 'tempo',
       'time_signature', 'valence'], dtype=object)

In [39]:
trial.to_csv("track_meta_100subset.csv")

In [40]:
trial.shape

(6231, 24)

In [41]:
len(trial.Trackid.unique())

243

In [27]:
trial[0].nunique()

100

In [18]:
','.join(['?']*len(q_100))

'?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?'

In [ ]:
args=[2,3]
sql="select * from sqlitetable where rowid in ({seq})".format(
    seq=','.join(['?']*len(args)))

cursor.execute(sql, args)